{{page-title "AddProduct"}}
<form><hr>
  <div class="form-group" style="margin-top: 10px">

    <div class="row">
      <div class="col-sm">
        <Input type="text" class="form-control" id="nameProd" placeholder="Nom" @value={{ @model.products.name }}/>
      </div>
      <div class="col-sm">
        <UiDropdown class="selection" @selected={{@model.product.section}} @onChange={{fn (mut @model.product)}}>
          <div class="default text">Section</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each @model.sections as |section|}}
              <div data-value="{{map-value section}}" class="item">
                {{section.name}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>
        <select class="form-control" id="selectSection">
          <option selected>Section</option>
          {{#each @model as |section|}}
            <option value={{section.name}}>{{section.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
      <div class="col-sm">
        <Input type="text" class="form-control" id="priceProd" placeholder="Prix" @value={{ @model.products.price }}/>
      </div>
      <div class="col-sm">
        <Input type="text" class="form-control" id="promProd" placeholder="Promotion" @value={{ @model.products.promotion }}/>
      </div>
    </div>

    <Textarea class="form-control" id="commentProd" rows="3" placeholder="Commentaires" style="margin-bottom: 10px" @value={{ @model.products.comments }}/>

    <button {{action "save" @model}} class="btn btn-outline-secondary" type="button">Valider le produit</button>
    <LinkTo class="btn btn-outline-secondary" @route="sections">Annuler</LinkTo>
  </div><hr>
</form>
{{outlet}}