{{page-title "Add"}}
<form><hr>
  <div class="form-group" style="margin-top: 10px">

    <Input type="text" class="form-control" id="nameProd" placeholder="Nom" @value={{ @model.name }}/>

    <Textarea class="form-control" id="commentProd" rows="3" placeholder="Description" style="margin-bottom: 10px; margin-top: 10px" @value={{ @model.description }}/>

    <button {{action "save" @model}} class="btn btn-outline-secondary" type="button">Valider la section</button>
    <LinkTo class="btn btn-outline-secondary" @route="sections">Annuler</LinkTo>
  </div><hr>
</form>
{{outlet}}