{{page-title "Edit"}}
<br>

<div class="ui grid">
  <div class="eight wide column">
    <h2>{{@model.name}} - {{ @model.products.length }} produits</h2>
  </div>
  <div class="eight wide column">
    <LinkTo class="ui right floated secondary button" @route="sections.index">Retour aux sections</LinkTo>
    <LinkTo class="ui right floated secondary button" @route="board">Retour au tableau de bord</LinkTo>
  </div>
</div><br>

<div class="card">
  <div class="card-header">
    Gestion des stocks
  </div>
  <div class="card-body">
    <LinkTo class="btn btn-success" @route="sections.edit.addProductInSection">Nouveau produit</LinkTo>

    {{outlet}}

    <table class="table table-striped" style="margin-top: 10px">
      <tbody>
      {{#each @model.products as |product|}}
        <tr>
          <td>{{ product.name}}</td>
          <td>{{ product.price}}€</td>
          <td>
            <button class="btn btn-secondary btn-sm" {{action "modifier" product}} ><i class="fas fa-edit" style="color: white"></i></button>
            <button class="btn btn-secondary btn-sm" {{action "delete" product }} ><i class="far fa-trash-alt" style="color: white"></i></button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
