{{page-title "Promo"}}
<div class='container'>
  <hr><br>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="ck1" {{on "click" lienRemise}}>
    <Input placeholder='Code promo' id='codeP' @value={{this.elm}}/>
  </div><br>

  {{#if this.checked}}
    {{#if this.elm}}
    <div>
      <h4>
        <div class="row">
          <div class="col">
            Remise : {{remise this.elm 'Code promo invalide' @model.sumActive}}
          </div>
          <div class="col">
            Total avec remise : {{total this.elm @model.sumActive}}
          </div>
        </div>
      </h4>
    </div>
    {{/if}}
  {{/if}}

</div>

{{outlet}}