{{page-title "Ex1"}}
<div class="container">

<div class="card">
  <div class="card-header bg-primary text-light">Ex1 : Note application</div>
  <div class="card-body">
    <b>Note :</b><br><br>
    <Textarea class="form-control" @placeholder="Entrez votre texte" @value={{content}}/><br><br>

    <button class="btn btn-primary" {{action "save"}}>Enregistrer</button>
    <button class="btn btn-primary" {{action "clear"}}>Effacer</button>

    <br><br>
    <p> Nombre de caractères restant : </p>

  </div>
</div>

</div>
{{outlet}}