{{page-title "Ex2"}}
<div class='container'>

  <form id='services' style>
    <h1>Services</h1>
    <div class='alert alert-info'>
      <span>Choisissez les élément à inclure</span><br>
      <b>{{plural @model.countActive
                  'Aucun service sélectionné'
                  'service sélectionné'
                  'services sélectionnés'}}</b>
    </div>
  </form>

  <ul class="list-group">
    {{#each @model.services as |service|}}
        <li class="list-group-item {{if service.active 'active' ''}}"
          {{action "toggleActive" service}}>{{service.name}} {{service.price}}</li>

    {{/each}}
  </ul>

  <div class='total'>
    <hr>
    <h3>Total : ${{@model.sumActive}}</h3>

  </div>

</div>

{{outlet}}