{{page-title "Order"}}
<br><h2>
  Préparation de la commande
  <LinkTo class="ui right floated secondary button" @route="board">Retour au tableau de bord</LinkTo>
</h2><br>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header"><h5>Client</h5></div>
      <div class="card-body">
        Nom : {{@model.user.name}}<br>
        Email : {{@model.user.email}}
      </div>
    </div>
  </div>
  <di class="col-6">
    <div class="card">
      <div class="card-header"><h5>Commande</h5></div>
      <div class="card-body">
        Commande n°{{@model.id}}<br>
        Montant : {{@model.amount}}€<br>
        Nombre de produits : {{@model.itemsNumber}}
      </div>
    </div>
  </di>
</div><br>


<div class="card">
  <div class="card-header"><h5>A préparer</h5></div>
  <div class="card-body">
    <table class="ui single line table">
      <thead>
        <tr>
          <th>Section</th>
          <th>Nom</th>
          <th>Prix</th>
          <th>Quantité</th>
          <th>Préparé</th>
        </tr>
      </thead>
      <tbody>
      {{#each @model.orderdetails as |order|}}
        <tr>
          <td>{{ order.product.section.name }}</td>
          <td>{{ order.product.name }}</td>
          <td>{{ order.product.price }}</td>
          <td>{{ order.quantity }}</td>
          <td>
            <div class="ui checked checkbox">
              <!-- Si le champ prepared de produit est égal à 1, on coche la checkbox sinon non-->
              <Input @type="checkbox" id="check" @checked={{order.prepared}} {{action "save" order on="change"}}/>
              <label for="checkbox">Préparé</label>
            </div>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div><br>

<div class="card">
  <div class="card-header"><h5>Avancement</h5></div>
  <div class="card-body">

    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" id="progressbar"
           style="width: {{this.resultat}}%" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <label for="progressbar" class="ui center aligned container">{{this.resultat}}% de préparé</label>
    <br>

    <LinkTo class="ui red basic button" @route="board"><i class="close icon"></i>Annuler la commande</LinkTo>
    <LinkTo class="ui right floated green basic button" @route="board"><i class="check icon"></i>Commande préparée</LinkTo>
  </div>
</div>
{{outlet}}