{{page-title "Step2"}}
<div class='container'>
  <h2>Vos choix</h2><br>

  {{#each @model as |music|}}
  <div class="row">
    <div class="col-2">
      <a href='{{music.url}}'>
        <img src='{{music.image}}' style='height: 75px'>
      </a>
    </div>
    <div class="col-10">
      <p>{{music.title}}</p>
    </div>
  </div><br>
  {{/each}}

  <br><button type="button" class="btn btn-dark" {{action "etapePrecedente"}}> Etape précédente </button>
</div>
{{outlet}}